:root {
    --blank-0: #fff;
    --blank-1: #f5f5f5;
    --blank-2: #afafaf;
    --colored-0: #426cf5;
    --colored-1: #6ca5f0;
    --dark-shadow: #000000a6;
    --shadow: #000000a6;
    --light-shadow: #00000071;
    --dark-0: #030511;
}